.form{
  display: flex;
}
.form {
  margin-top: 10px;
  /* background: rgb(170, 170, 248); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.form input{
  width: 28rem;
  box-sizing: border-box;
  height: 2.5rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid #616363;
  padding: 0.3rem;
  margin-right: 1rem;
}

.form button{
  background: darkblue;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  width: 5rem;
  text-align: center;
  height: 2.5rem;
}

.todo-filter {
  margin-top: 2px;
  width: 34rem;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 480px)  {
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form input {
    width: 16rem;
  }

  .todo-filter {
    width: 22rem;
  }
}